table{
    border: 1px solid red;
    /* background: red; */
    margin: 14px;
    width: 600px;
    text-align: center;
    padding: 0px;
}
.col-1{
    background:green;
}
.col-2{
    background:yellowgreen;
}


